<div class="content_search">
	<%= form_tag("/contents/search", method: "get", class: "form-inline") do %>
	  <%= text_field_tag :query, nil ,class: "form-control", placeholder: "Query" %>
	  <%= select_tag(:company_id, options_for_select(Company.all.map { |com| [com.name, com.id] }), {class: "form-control"}) %>
	  <%= select_tag(:method_id, options_for_select([["Cluster Mean", 0],["Raw Document", 1]]), class: "form-control") %>
	  <%= submit_tag "search", class: "btn btn-primary" %>
	  <%= link_to "Download", search_contents_path(query: params[:query],method_id: params[:method_id], company_id: params[:company_id], format: :csv), class: "btn btn-primary" %>
	<% end %>
	<div class="card">
		<div class="card-header">LDA Keywords</div>
	  <div class="card-body">
		<% @topics.try(:each) do |topic| %>
			<span class="badge badge-primary"><%= topic %></span>
		<% end %>
	  </div>
	</div>

    
	<% @contents.try(:each) do |content| %>
	<div class="card">
	  <div class="card-body">
		<%= content %>
	  </div>
	</div>
	<% end %>
    
</div>
